{% extends "base.html" %}
{% block title %}{{super()}}{% endblock %}
{% block styles %}
{{super()}}
{% endblock %}
{% block navbar %}
	{{super()}}
	<link rel="stylesheet" href="/static/css/cases.css">
	<link rel="stylesheet" href="/static/css/dropdown.css">
{% endblock %}
{% block content%}
{{super()}}
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-3 sidenav">
		<table style="width:100%">
		<tr>
			<td><p>Positive Resident Cases by Race for Last {{days}} Days</p></td>
		</tr>
   		<tr>
		<td class="canvas-container"><canvas id="dayRace"></canvas></td>
		</tr>
		<tr>
			<td><p>Positive Resident Cases by Ethnicity for Last {{days}} Days</p></td>
		</tr>
   		<tr>
		<td class="canvas-container"><canvas id="dayEthnicity"></canvas></td>
		</tr>
		<tr>
		<td><p><a href="/faqs"><i>Click Here to find how these numbers are calculated, their accuracy, and how total amounts may vary from other results</i></a></p></td>
		</tr>
		</table>
    </div>
    <div class="col-sm-7 text-center"> 
		<table style="width:100%">
			<tr>
			<td colspan="5"><p>Resident And Non-Resident Positive Cases by Age Group for Last {{days}} Days</p></td>
			</tr>
			<tr>
			<td colspan="5"class="canvas-container"><canvas id="dayAge"></canvas></td>
			</tr>
			<tr>
			<td colspan="2"><p>Resident And Non-Resident Positive Cases by Gender Group for Last {{days}} Days</p></td>
			<td><p>Resident Total New Positive and Negative Tests</p></td>
			<td><p>Non-Resident Total New Positive and Negative Tests</p></td>
			<td><p>County and Population</p></td>
			</tr>
			<tr>
			<td rowspan="2" colspan=2" class="canvas-container"><canvas id="dayGender"></canvas></td>
			<td><h2>Pos: {{dayData[21]}}</h2></td>
			<td><h2>Pos: {{dayData[22]}}</h2></td>
			<td><h2>{{dayData[49]}} County</h2></td>
			</tr>
			<tr>
			<td><h2>Neg: {{dayData[19]}}</h2></td>
			<td><h2>Neg: {{dayData[20]}}</h2></td>
			<td><h2>Pop: {{dayData[50]}}</h2></td>
			</tr>
		</table>
    </div>
    <div class="col-sm-2 sidenav">
		<table style="width:100%">
<tr>
		<td>
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h4>Select County</h4> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="drip"><a href="/7day/State">State</p></a></li>
            <li class="drip"><a href='/7day/Alachua'><p>Alachua</p></a></li>
<li class="drip"><a href='/7day/Baker'><p>Baker</p></a></li>
<li class="drip"><a href='/7day/Bay'><p>Bay</p></a></li>
<li class="drip"><a href='/7day/Bradford'><p>Bradford</p></a></li>
<li class="drip"><a href='/7day/Brevard'><p>Brevard</p></a></li>
<li class="drip"><a href='/7day/Broward'><p>Broward</p></a></li>
<li class="drip"><a href='/7day/Calhoun'><p>Calhoun</p></a></li>
<li class="drip"><a href='/7day/Charlotte'><p>Charlotte</p></a></li>
<li class="drip"><a href='/7day/Citrus'><p>Citrus</p></a></li>
<li class="drip"><a href='/7day/Clay'><p>Clay</p></a></li>
<li class="drip"><a href='/7day/Collier'><p>Collier</p></a></li>
<li class="drip"><a href='/7day/Columbia'><p>Columbia</p></a></li>
<li class="drip"><a href='/7day/County'><p>County</p></a></li>
<li class="drip"><a href='/7day/Dade'><p>Dade</p></a></li>
<li class="drip"><a href='/7day/Desoto'><p>DeSoto</p></a></li>
<li class="drip"><a href='/7day/Dixie'><p>Dixie</p></a></li>
<li class="drip"><a href='/7day/Duval'><p>Duval</p></a></li>
<li class="drip"><a href='/7day/Escambia'><p>Escambia</p></a></li>
<li class="drip"><a href='/7day/Flagler'><p>Flagler</p></a></li>
<li class="drip"><a href='/7day/Franklin'><p>Franklin</p></a></li>
<li class="drip"><a href='/7day/Gadsden'><p>Gadsden</p></a></li>
<li class="drip"><a href='/7day/Gilchrist'><p>Gilchrist</p></a></li>
<li class="drip"><a href='/7day/Glades'><p>Glades</p></a></li>
<li class="drip"><a href='/7day/Gulf'><p>Gulf</p></a></li>
<li class="drip"><a href='/7day/Hamilton'><p>Hamilton</p></a></li>
<li class="drip"><a href='/7day/Hardee'><p>Hardee</p></a></li>
<li class="drip"><a href='/7day/Hendry'><p>Hendry</p></a></li>
<li class="drip"><a href='/7day/Hernando'><p>Hernando</p></a></li>
<li class="drip"><a href='/7day/Highlands'><p>Highlands</p></a></li>
<li class="drip"><a href='/7day/Hillsborough'><p>Hillsborough</p></a></li>
<li class="drip"><a href='/7day/Holmes'><p>Holmes</p></a></li>
<li class="drip"><a href='/7day/Indian%20River'><p>Indian River</p></a></li>
<li class="drip"><a href='/7day/Jackson'><p>Jackson</p></a></li>
<li class="drip"><a href='/7day/Jefferson'><p>Jefferson</p></a></li>
<li class="drip"><a href='/7day/Lafayette'><p>Lafayette</p></a></li>
<li class="drip"><a href='/7day/Lake'><p>Lake</p></a></li>
<li class="drip"><a href='/7day/Lee'><p>Lee</p></a></li>
<li class="drip"><a href='/7day/Leon'><p>Leon</p></a></li>
<li class="drip"><a href='/7day/Levy'><p>Levy</p></a></li>
<li class="drip"><a href='/7day/Liberty'><p>Liberty</p></a></li>
<li class="drip"><a href='/7day/Madison'><p>Madison</p></a></li>
<li class="drip"><a href='/7day/Manatee'><p>Manatee</p></a></li>
<li class="drip"><a href='/7day/Marion'><p>Marion</p></a></li>
<li class="drip"><a href='/7day/Martin'><p>Martin</p></a></li>
<li class="drip"><a href='/7day/Monroe'><p>Monroe</p></a></li>
<li class="drip"><a href='/7day/Nassau'><p>Nassau</p></a></li>
<li class="drip"><a href='/7day/Okaloosa'><p>Okaloosa</p></a></li>
<li class="drip"><a href='/7day/Okeechobee'><p>Okeechobee</p></a></li>
<li class="drip"><a href='/7day/Orange'><p>Orange</p></a></li>
<li class="drip"><a href='/7day/Osceola'><p>Osceola</p></a></li>
<li class="drip"><a href='/7day/Palm%20Beach'><p>Palm Beach</p></a></li>
<li class="drip"><a href='/7day/Pasco'><p>Pasco</p></a></li>
<li class="drip"><a href='/7day/Pinellas'><p>Pinellas</p></a></li>
<li class="drip"><a href='/7day/Polk'><p>Polk</p></a></li>
<li class="drip"><a href='/7day/Putnam'><p>Putnam</p></a></li>
<li class="drip"><a href='/7day/Santa Rosa'><p>Santa Rosa</p></a></li>
<li class="drip"><a href='/7day/Sarasota'><p>Sarasota</p></a></li>
<li class="drip"><a href='/7day/Seminole'><p>Seminole</p></a></li>
<li class="drip"><a href='/7day/St.%20Johns'><p>St. Johns</p></a></li>
<li class="drip"><a href='/7day/St.%20Lucie'><p>St. Lucie</p></a></li>
<li class="drip"><a href='/7day/Sumter'><p>Sumter</p></a></li>
<li class="drip"><a href='/7day/Suwannee'><p>Suwannee</p></a></li>
<li class="drip"><a href='/7day/Taylor'><p>Taylor</p></a></li>
<li class="drip"><a href='/7day/Union'><p>Union</p></a></li>
<li class="drip"><a href='/7day/Volusia'><p>Volusia</p></a></li>
<li class="drip"><a href='/7day/Wakulla'><p>Wakulla</p></a></li>
<li class="drip"><a href='/7day/Walton'><p>Walton</p></a></li>
<li class="drip"><a href='/7day/Washington'><p>Washington</p></a></li>
          </ul>
          </li>

		</td>
		</tr>
		<tr>
		<td><h2>Last {{days}} Days</h2></td>
		</tr>
		<tr>
			<td><h4>Positive Resident Cases Admitted to Hospital
			<h2>{{dayData[13]}}</h2>
			</h4>
			</td>
		<tr>
		<tr>
			<td><h4>Positive Non-Resident Cases Admitted to Hospital</h4>
			<h2>{{dayData[14]}}</h2>
			</td>
		<tr>
		<tr>
			<td><h4>Positive Resident Cases Admitted to ER</h4>
			<h2>{{dayData[15]}}</h2>
			</td>
		<tr>
		<tr>
			<td><h4>Positive Non-Resident Cases Admitted to ER</h4>
			<h2>{{dayData[16]}}</h2>
			</td>
		<tr>
		<td><p><a href="https://floridahealthcovid19.gov/"><i>Click Here for a link to the state report for county details</i></a></p></td>
		</tr>
		</table>
    </div>
  </div>
</div>  
{% endblock %}
{% block scripts %} 
	{{super()}}	
<script src="/static/js/Chart.bundle.min.js"></script>
<script>
new Chart(document.getElementById("dayRace"), {
    type: 'horizontalBar',
    data: {
      labels: ["White","Black","Other","Unknown"],
      datasets: [
        {
          label: "{{dayData[0]}} New Positive Results",
          backgroundColor: ["#f65155","#009ecb","#a5c646","#5c5c5c"],
          data: [{{dayData[6]}},{{dayData[7]}},{{dayData[8]}},{{dayData[9]}}]
        }
      ]
    },
    options: {
    	maintainAspectRatio:false,
    	responsive: true,
    	hover: {
    		animationDuration: 0,
		},
    	animation: {
        duration: 1,
        onComplete: function () {
            var chartInstance = this.chart,
                ctx = chartInstance.ctx;
            ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
            ctx.textAlign = 'right';
            ctx.textBaseline = 'bottom';

            this.data.datasets.forEach(function (dataset, i) {
                var meta = chartInstance.controller.getDatasetMeta(i);
                meta.data.forEach(function (bar, index) {
                    var data = dataset.data[index];                            
                    ctx.fillText(data, bar._model.x -1, bar._model.y - 5);
                });
            });
        }
      },
    	tooltips:{
    		mode: 'label',

    		},
    	scales:{
    		xAxes:[{
    			ticks: {
    				autoSkip: true,
    				maxRotation:0,
    				minRotation:0,
    				maxTicksLimit:4,
    				fontColor: 'white',
    			},
    			gridLines: {
    				display: true,
    				color: "rgba(255, 189, 105, .2)"
    			},
    			stacked:true
    			
    		}],
    		yAxes:[{
    			ticks:{
					beginAtZero:true,
					fontColor: 'white',
				},
    			gridLines: {
    				display: true,
    				color: "rgba(255, 189, 105, .2)"
    			},
    			stacked:true
				
			}]
    	},
    	scaleFontColor:"#FFFFFF",
      legend: { display: false },
      title: {
       	display: false,
        text: 'Cases by race'
		}
    }
});
</script>
<script>
new Chart(document.getElementById("dayEthnicity"), {
    type: 'horizontalBar',
    data: {
      labels: ["Non-Hispanic","Hispanic","Unknown/No Data"],
      datasets: [
        {
          label: "{{dayData[0]}} New Positive Results",
          backgroundColor: ["#c39739","#5f7115","#00734e"],
          data: [{{dayData[11]}},{{dayData[10]}},{{dayData[12]}},]
        }
      ]
    },
    options: {
    	maintainAspectRatio:false,
    	responsive: true,
    	hover: {
    		animationDuration: 0
		},
    	animation: {
        duration: 1,
        onComplete: function () {
            var chartInstance = this.chart,
                ctx = chartInstance.ctx;
            ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
            ctx.textAlign = 'right';
            ctx.textBaseline = 'bottom';

            this.data.datasets.forEach(function (dataset, i) {
                var meta = chartInstance.controller.getDatasetMeta(i);
                meta.data.forEach(function (bar, index) {
                    var data = dataset.data[index];                            
                    ctx.fillText(data, bar._model.x -1, bar._model.y - 5);
                });
            });
        }
      },
    	tooltips:{
    		mode: 'label',
    		},
    	scales:{
    		xAxes:[{
    			ticks: {
    				autoSkip: true,
    				maxRotation:0,
    				minRotation:0,
    				maxTicksLimit:4,
    				fontColor: 'white'
    			
    			},
    			gridLines: {
    				display: true,
    				color: "rgba(255, 189, 105, .2)"
    			},
    			stacked:true
    			
    		}],
    		yAxes:[{
    			ticks:{
					beginAtZero:true,
					fontColor: 'white'
				},
    			gridLines: {
    				display: true,
    				color: "rgba(255, 189, 105, .2)"
    			},
    			stacked:true

			}]
    	},
    	scaleFontColor:"#FFFFFF",
      legend: { display: false },
      title: {
       	display: false,
        text: 'Cases by ethnicity'
		}
    }
});
</script>
<script>
new Chart(document.getElementById("dayAge"), {
    type: 'bar',
    data: {
      labels: ["0-4","5-14","15-24","25-34","35-44","45-54","55-64","65-74","75-84","85+"],
      datasets: [
        {
          label: "Positive Residents",
          backgroundColor: ["#ffaa2e","#ffff3f","#a1ff3a","#21ff38","#00ffc7","#00c5fc","#0071fa","#cb0bfa","#ff08c2","#ff5521"],
          data: [{{dayData[23]}},{{dayData[24]}},{{dayData[25]}},{{dayData[26]}},{{dayData[27]}},{{dayData[28]}},{{dayData[29]}},{{dayData[30]}},{{dayData[31]}},{{dayData[32]}}]
        },
        {
          label: "Positive Non-Residents",
		  backgroundColor: ["#ba1a0f","#ba1a0f","#ba1a0f","#ba1a0f","#ba1a0f","#ba1a0f","#ba1a0f","#ba1a0f","#ba1a0f","#ba1a0f"],
          data: [{{dayData[33]}},{{dayData[34]}},{{dayData[35]}},{{dayData[36]}},{{dayData[37]}},{{dayData[38]}},{{dayData[39]}},{{dayData[40]}},{{dayData[41]}},{{dayData[42]}}]
        }
      ]
    },
    options: {
    	maintainAspectRatio:false,
    	responsive: true,
    	tooltips:{
    		mode: 'label',
    		callbacks: {
    			footer: (tooltipItems,data) => {
    			let total = tooltipItems.reduce((a,e) => a + parseInt(e.yLabel), 0);
    			return 'Total Positive Tests: ' + total;
    			}
    		}

    		},
    	scales:{
    		xAxes:[{
    			ticks: {
    				autoSkip: true,
    				maxRotation:0,
    				minRotation:0,
    				fontColor: 'white'
    			
    			},
    			gridLines: {
    				display: true,
    				color: "rgba(255, 189, 105, .2)"
    			},
    			stacked:true
    			
    		}],
    		yAxes:[{
    			ticks:{
					beginAtZero:true,
					fontColor: 'white'
				},
    			gridLines: {
    				display: true,
    				color: "rgba(255, 189, 105, .2)"
    			},
    			stacked:true

			}]
    	},
    	scaleFontColor:"#FFFFFF",
      legend: { display: false },
      title: {
       	display: false,
        text: 'Cases by ethnicity'
		}
    }
});
</script>
<script>
new Chart(document.getElementById("dayGender"), {
    type: 'bar',
    data: {
      labels: ["Male","Female","Unknown"],
      datasets: [
        {
          label: "Positive Residents",
          backgroundColor: ["#6ec0ff", "#eb88ae", "#f2a941"],
		  data: [{{dayData[43]}},{{dayData[44]}},{{dayData[45]}}]
        },
        {
          label: "Positive Non-Residents",
		  backgroundColor: ["#00599e", "#ad3160", "#a35b0d","#ba1a0f"],
		  data: [{{dayData[46]}},{{dayData[47]}},{{dayData[48]}}]
        }
      ]
    },
    options: {
    	maintainAspectRatio:false,
    	responsive: true,
    	tooltips:{
    		mode: 'label',
    		callbacks: {
    			footer: (tooltipItems,data) => {
    			let total = tooltipItems.reduce((a,e) => a + parseInt(e.yLabel), 0);
    			return 'Total Positive Tests: ' + total;
    			}
    		}

    		},
    	scales:{
    		xAxes:[{
    			ticks: {
    				autoSkip: true,
    				maxRotation:0,
    				minRotation:0,
    				fontColor: 'white'
    			
    			},
    			gridLines: {
    				display: true,
    				color: "rgba(255, 189, 105, .2)"
    			},
    			stacked:true
    			
    		}],
    		yAxes:[{
    			ticks:{
					beginAtZero:true,
					fontColor: 'white'
				},
    			gridLines: {
    				display: true,
    				color: "rgba(255, 189, 105, .2)"
    			},
    			stacked:true

			}]
    	},
    	scaleFontColor:"#FFFFFF",
      legend: { display: false },
      title: {
       	display: false,
        text: 'Cases by gender'
		}
    }
});
</script>
{% endblock %}
